.dialogs {
    display: grid;
    padding-top: 10px;
    margin: 0 auto;
    grid-template-columns: 2fr 6fr;
    gap: 10px;
}

.messages {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
}